Source: go-nmsg-sie
Section: net
Priority: optional
Maintainer: Farsight Security, Inc. <software@farsightsecurity.com>
Build-Depends: debhelper (>= 9), dh-golang, golang-1.11-go,
 golang-google-protobuf-dev
Standards-Version: 3.9.8
Vcs-Git: https://github.com/farsightsec/go-nmsg.git
Vcs-Browser: https://github.com/farsightsec/go-nmsg
XS-Go-Import-Path: github.com/farsightsec/go-nmsg

Package: golang-github-farsightsec-go-nmsg-sie-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: go-nmsg module for nmsg.sie message types
